/* TITLE BODY */

#title-section{
    padding: 0% 7%;
}


#title-pic{
    height: 20rem;
    transition-duration: 1s;
    margin-bottom: 1rem;
    filter: drop-shadow(0 0 0.5rem gray);
}

#title-pic:hover{
    height: 21rem;
    margin-bottom: 0rem;
}



#main-intro{
    color: #163172;
    margin-top: 5rem;
}


#intro-para{
    color: #163172;
    margin-top: 1rem;
    margin-bottom: 2rem;
}


#social-container{
    margin-left: 7rem;
    margin-right: 7rem;
}

.social-logo{
    font-size: 5rem;
}

.fa-brands{
    color: #1E56A0;

    transition-duration: 1s;
}

.fa-brands:hover{
    color: #163172;
}



/* ABOUT ME */

#aboutme{
    padding: 1rem 1rem;
}


#aboutme-body{
    color: #F6F6F6;
    background-color: #1E56A0;
    border-radius: 0.5rem;
    filter: drop-shadow(0 0 0.5rem gray);
    transition-duration: 1s;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
}


#aboutme-body:hover{
    background-color: #1a4783;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}


#About-me-title{
    font-weight: bold;
    margin: 2rem auto 0 auto;
}

#info-logo{
    font-size: 15rem;
    margin: 1.5rem auto 0rem;
    padding-bottom: 1.5rem;
}

#clickhere-info{
    color: #F6F6F6;
    font-weight: 550;
    text-decoration: none;
    transition-duration: 1s;
}

#clickhere-info p{
    font-size: 2rem;
    display: inline-block;
}

#clickhere-info:hover{
    color: #d0d0d0;
}



#About-me-para{
    line-height: 2;
    margin: 5rem 1rem;
    text-align: left;
}


/* PORTFOLIO */


#portfolio-section{
    padding: 1% 4%;
    margin-bottom: 6rem;
}

#portfolio-title{
    color: #163172;
}


#portfolio-para{
    color: #163172;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#portfolio-body{
    color: #F6F6F6;
    background-color: #1E56A0;
    border-radius: 0.5rem;
    filter: drop-shadow(0 0 0.5rem gray);
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition-duration: 1s;
    margin-top: 2.5rem;
    margin-bottom: -4rem;
}

#portfolio-body:hover{
    background-color: #1a4783;
    margin-top: 2rem;
    margin-bottom: -3.5rem;
}


#carouselExample{
    padding:0.5rem 1rem;
}


.carousel-control-prev,.carousel-control-next{
    background-color: gray;
    margin: 0.5rem 3rem;
    width: 10%;
}



/* MOBILE CSS */


@media (max-width: 992px) {

    #title-pic{
        height: 15rem;
    }

    #title-pic:hover{
        height: 16rem;
    }


    #social-container{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .social-logo{
        color: #163172;
        font-size: 3rem;
        margin-top: 1.5rem;
    }


    .port-img{
        height: 30rem;
    }

    #clickhere-info{
        font-size: 1.5rem;
        margin-top: 0rem;
        margin-bottom:0rem;
    }

    #info-logo{
        font-size: 8rem;
    }

    
}










